#web-hero img {
  width: 350px;
  max-width: 100%;
}
#web-hero {
  padding-top: 3em;
}
.navbar__menu-item {
  text-transform: uppercase;
  font-size: 5.2em;
  padding: 60px 20px;
  font-weight: 700;
  width: 300px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.navbar__menu-item-title {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 0.01em white;
  transition: -webkit-text-stroke 0.5s ease, color 0.5s ease;
}

.navbar__menu-item:hover .navbar__menu-item-title {
  -webkit-text-stroke: none;
  color: white;
}

.navbar__menu-item-title::after {
  content: attr(data-menu-item-text);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 900;
  -webkit-text-stroke: 0.012em white;
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.note-container {
  display: flex;
  justify-content: center;
}
aside {
  position: relative;
  padding: 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  max-width: 700px;
  border-top: 4px solid;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-image-slice: 1;
}
aside small {
  position: absolute;
  left: -1.5rem;
  top: calc(-1.25rem - 2px);
  height: 2.5rem;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #1b2b34;
}
aside p {
  font-size: 1.5em;
}

code {
  font-size: 0.875em;
  font-weight: 400;
  display: inline-block;
  padding: 2px;
  background-color: rgba(20, 177, 171, 0.15);
}

.buttonContainer {
  margin-top: 2em;
  text-align: center;
}

h1 {
  color: rgba(69, 69, 69, 1);
  /* line-height: 2em; */
}

/* BUTTON CSS
------------------------------------------- */

button {
  cursor: pointer;
  font-size: 64px;
  display: inline-block;
  text-decoration: none;

  color: white;
  background-color: rgb(28, 190, 131);
  font-weight: 600;
  border-radius: 70px;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 15%);

  padding: 44px;
  margin: 5px;

  background-size: 200% 100%;
  border: 4px solid white;
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;
}

button.disconnected {
  background-color: rgb(249, 49, 84);
}

@media only screen and (max-width: 640px) {
  .navbar__menu-item {
    font-size: 2em;
  }
  .navbar__menu-item-title {
    color: white;
    opacity: 0.65;
  }
}
