#web-about .about-text {
  color: black;
  text-align: left;
  max-width: 60%;
  margin-right: 20px;
}
#web-about img {
  max-width: 40%;
  border-radius: 125px;
  box-shadow: rgba(253, 157, 203, 0.4) 5px 5px,
    rgba(253, 157, 203, 0.3) 10px 10px, rgba(253, 157, 203, 0.2) 15px 15px,
    rgba(253, 157, 203, 0.1) 20px 20px, rgba(253, 157, 203, 0.05) 25px 25px;
}

@media only screen and (max-width: 998px) {
  #web-about .about-text,
  #web-about img {
    max-width: 100%;
  }
  #web-about .about-text {
    margin-right: 0;
  }
  #web-about img {
    border-radius: 100px;
  }
  h1 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 640px) {
  #web-about .about-text {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 998px) {
  #web-about img {
    max-width: 35%;
  }
  #web-about .about-text {
    max-width: 65%;
    margin-right: 20px;
  }
}
