#lab_social_icon_footer {
  padding: 40px 0;
  background-color: #317691;
  color: white;
}

#lab_social_icon_footer a {
  color: white;
}

#lab_social_icon_footer .social:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
      Multicoloured Hover Variations
  */

#lab_social_icon_footer #social-fb:hover {
  color: #4267b2;
}

#lab_social_icon_footer #social-tw:hover {
  color: #1da1f2;
}

#lab_social_icon_footer #social-gp:hover {
  color: #db4a39;
}

#lab_social_icon_footer #social-em:hover {
  color: #0677ce;
}
