* {
  /* font-family: "PT Sans", sans-serif !important; */
  /* font-family: monospace !important; */
  transition: all 0.2s ease;
  line-height: 30px;
}

html,
body {
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 64px;
  text-align: left;
  padding-bottom: 1em;
}

.page-section {
  height: 480px;
  padding: 3em;
  height: 100%;
  background: linear-gradient(45deg, #232526 10%, #414345 90%);
  color: white;
}
.section-container {
  padding-top: 50px;
  max-width: 1080px;
  margin: auto;
}
.page-section-container {
  display: flex;
}

@media only screen and (max-width: 998px) {
  .page-section-container {
    flex-direction: column;
  }
}

.page-section.hero {
  background: #65c3c7;
}
#about {
  background: linear-gradient(#65c3c7, #7590da);
}
#gallery {
  background: linear-gradient(#7590da, #fd9dcb);
}
#roadmap {
  background: linear-gradient(#fd9dcb, #ffe574);
}
.page-section.flex {
  display: flex;
  justify-content: center;
}

h1 span {
  background-color: rgba(255, 229, 116, 0.65);
  padding: 10px 20px;
  font-weight: 100;
}

p {
  font-size: 1.2em;
}
